apiVersion: apps/v1
kind: Deployment
metadata:
  name: foodie-backend
  namespace: foodie-app
  labels:
    app: foodie-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: foodie-backend
  template:
    metadata:
      labels:
        app: foodie-backend
    spec:
      containers:
        - name: backend
          image: arunbalaji103/foodie-backend:REPLACE_WITH_SHA
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
              name: http
          env:
            - name: PORT
              value: "5000"
            - name: NODE_ENV
              value: "production"
          readinessProbe:
            httpGet:
              path: /api/health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 15
